<section>
  <div class="portfolio container py-5">
    <h2 class="pt-5 mt-5">PORTFOLIO COMPONENT</h2>
    <div class="d-flex justify-content-center my-3">
      <div class="line"></div>
      <i class="fa-solid fa-star px-3 fs-3"></i>
      <div class="line"></div>
    </div>
    <div class="row g-5">
      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/poert1.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/poert1.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/port2.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/port2.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/port3.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/port3.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/poert1.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/poert1.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/port2.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/port2.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          (click)="showImg('./assets/images/port3.png')"
          class="item rounded-3 overflow-hidden position-relative"
        >
          <img class="w-100" src="./assets/images/port3.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus text-white fw-bold fs-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
